.container {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #EFEBE6;
  z-index: -1;
}

.teaFarmerImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.teaFarmerImage {
  width: 12%;
  height: auto;
}

.teaFarmerNameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.topLine {
  width: 100%;
  height: 1px;
  background-color: #99756A;
  opacity: 0.3;
}

.teaFarmerName {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.428;
  letter-spacing: 0.71%;
  color: #000000;
  text-align: center;
  margin: 0;
}

.bottomLine {
  width: 100%;
  height: 1px;
  background-color: #99756A;
  margin-top: auto;
  margin-bottom: 75px;
  opacity: 0.3;
}

.bottomBar {
  width: 380px;
  height: 40px;
  background-color: #FFFFFF;
  border-radius: 12px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.icon {
  width: 20px;
  height: 20px;
}

.menuButtonContainer {
  position: absolute;
  top: 38px;
  left: 29px;
}

.stopButtonContainer {
  position: absolute;
  top: 28px;
  right: 20px;
}

.stopButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.stopIcon {
  width: 24px;
  height: 24px;
}

/* 對話框樣式 */
.dialogueContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  overflow-y: auto;
}

/* 按鈕樣式 */
.primaryButton {
  width: 280px;
  height: 50px;
  background-color: #1E1E1E;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 10%;
  margin: 10px 0;
  cursor: pointer;
}

.secondaryButton {
  width: 280px;
  height: 50px;
  background-color: #FFFFFF;
  color: #1E1E1E;
  border: 3px solid #1E1E1E;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 10%;
  margin: 10px 0;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
} 